* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url("/images/nature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 80px;
  margin: 0.5em;
}
.animals-container {
  display: flex;
  justify-content: center;
}

.animals {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.5em;
}
.item img {
  width: 400px;
  height: 300px;
  padding: 20px;
}
.item {
  border: 1px solid white;
  width: 400px;
  height: 300px;
  background-color: red;
}
.item img:hover {
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
}
